
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 130px 1fr ;
}


img {
    height: 10px;
    width: 10px;
}

.header {
    background-color: #fafdd4;
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px 1fr;
    padding: 10px 10px 0px 10px;
    box-shadow: 0 0px 4px 2px rgba(255, 255, 255, 0.2);

}

.search-bar {
    grid-row: 1/2;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 6fr 1fr 2fr;
    padding: 10px 20px;
    gap: 20px;
}

.search {
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: 20px;
}

.search > img {
    display: flex;
    align-self: center;
    justify-self: right;
    height: 20px;
    width: 20px;
}

.search > input {
    border-radius: 30px;
    border: transparent;
    background-color: #e6e6e6;
}

.notif {
    display: flex;
    align-items: center;
    justify-self: right;
}

.notif > img {
    height: 20px;
    width: 20px;
}

.user {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.user > img {
    height: 35px;
    width: 35px;
    display: flex;
    align-self: left;
    justify-self: center;
}

.user > h4 {
    display: flex;
    align-self: center;
}


.user-info {
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr;
}

.user-info > .user-info-row {
    display: grid;
    grid-template-rows: 1fr 2fr;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.user-info > img {
    grid-row: 1/2;
    grid-column: 1/2;
    height: 50px;
    width: 50px;
    display: flex;
    align-self: center;
    justify-self: right;
}



.buttons {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px  20px 10px 10px;    
}

button {
    border-radius: 30px;
    border: transparent;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 40px;
    width: 1fr;

}


.sidebar {
    background-color: #fcc401;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    padding: 10px 0px 10px 10px;
    gap: 10px;
}

.sidebar > .branding {
    display: grid;
    grid-template-columns: 1fr 4fr;  
    display: flex;
    justify-content: left;
    align-items: center;
}

.branding > img {
    height: 50px;
    width: 50px;
}

.sidebar > .navigation {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    padding: 20px;
    gap: 30px;
}

.navigation > .first-nav {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
}

.first-nav > div {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    display: flex;
    align-items: center;
}

.first-nav > div > h3 {
    padding-left: 10px;

}

.first-nav > div > img {
    height: 25px;
    width: 25px;
}

.navigation > .second-nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  repeat(6, 1fr);
}


.second-nav > div {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    display: flex;
    align-items: center;
}

.second-nav > div > h3 {
    padding-left: 10px;

}

.second-nav > div > img {
    height: 25px;
    width: 25px;
}



.main {
    background-color: #e6e6e6;
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    gap: 20px;
}

.projects {
    grid-row: 1/3;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 40px repeat(3, 1fr);
    gap: 10px;
}

.title {
    display: flex;
    align-items: center;

}
.projects > .card {
    background-color: white;
    display: grid;
    grid-template-rows: 5fr 1fr;
    grid-template-columns: 1fr;
    padding: 20px;
    border-left: 5px solid #fcc401;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.book-details {
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.book-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 3px;
}

.book-author {
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    padding-bottom: 3px;
}

.book-desc {
    font-size: 14px;
    font-weight: 400;
    opacity: 60%;
    line-height: 1;
}


.card > .icons {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    gap: 10px;
}

.icons > img {
    height: 20px;
    width: 20px;
}

.projects > .title {
    grid-row: 1/2;
    grid-column: 1/4;
}

.announcements {
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;
    gap: 10px;
}


.announcements > .title {
    grid-row: 1/2;
    grid-column: 1/2;
}

.announcement-card {
    background-color: white;

    display: grid;
    grid-row: 1fr 1fr 1fr;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.announcements > .announcement-card > .card > p {
    font-size: 12px;
    font-weight: 400;
    opacity: 60%;
    padding-bottom: 2px;
}
.announcement-card > .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


hr.divider {
    border-top: 1px solid #bbb;
    height: 1px;
}

.trending {
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;
}


.trending-card  {
    background-color: white;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.trending > .trending-card > .card {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    gap: 10px;
}


.trending-card > .card > div > p {
    font-size: 12px;
    font-weight: 300;
}

.trending > .trending-card > .card > img {
    grid-column: 1/2;
    height: 40px;
    width: 40px;
}



.trending > .trending-card > .card {
    display: flex;
    align-items: center;
}


body {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 500;
}

h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
}

h6 {
    font-size: 12px;
    font-weight: 400;
}


button {
    font-size: 12px;
    font-weight: 600;
}

.title {
    font-size: 18px;
    font-weight: 600;
}

h5 {
    font-size: 14px;
    font-weight: 600;
}

