
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 130px 1fr ;

}



.header {
    background-color: rgb(48, 105, 230);
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 50px 1fr;
    padding: 10px 10px 0px 10px;
}

.search-bar {
    background-color: beige;
    grid-row: 1/2;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 6fr 1fr 2fr;
    padding: 10px 20px;
}

.search {
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.user {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.user-info {
    background-color: red;
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
}

.user-info > img {
    grid-row: 1/3;
    grid-column: 1/2;
}


.buttons {
    background-color: purple;
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px  20px 10px 10px;    
}




.sidebar {
    background-color: aquamarine;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    padding: 10px 0px 10px 10px;
    gap: 10px;
}

.sidebar > .branding {
    display: grid;
    grid-template-columns: 1fr 4fr;  
    display: flex;
    justify-content: left;
    align-items: center;
}

.branding > img {
    height: 50px;
    width: 50px;
}

.sidebar > .navigation {
    background-color: pink;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 40px;
}

.navigation > .first-nav {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(6, 1fr);
    
}

.navigation > .second-nav {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows:  repeat(6, 1fr);
}



.main {
    background-color: rgb(102, 104, 195);
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    gap: 10px;
}


.projects {
    grid-row: 1/3;
    grid-column: 1/2;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 40px repeat(3, 1fr);
    gap: 10px;
}


.projects > .card {
    background-color: pink;
    display: grid;
    grid-template-rows: 2fr 1fr 5fr 1fr;
    grid-template-columns: 1fr;
    padding: 10px;
}

.card > .book-title {
    grid-row: 1/2;
}

.card > .book-author {
    grid-row: 2/3;
}

.card > .book-desc {
    grid-row: 3/4;
}

.card > .icons {
    grid-row: 4/5;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
}

.projects > .title {
    background-color: grey;
    grid-row: 1/2;
    grid-column: 1/4;
}

.announcements {
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px repeat(3, 1fr);
    gap: 10px;
}

.announcements > .title {
    background-color: grey;
    grid-row: 1/2;
    grid-column: 1/2;
}

.announcements > .card {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

hr.divider {
    border: none;
    border-top: 1px solid #808080;
    border-radius: 5px;
    height: 1px;

}

.trending {
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px repeat(4, 1fr);
    gap: 10px;
}

.trending > .card {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
}

.trending > .card > img {
    grid-row: 1/4;
    grid-column: 1/2;
    height: 40px;
    width: 40px;
}

.trending > .title {
    background-color: grey;
}

.trending > .card {
    background-color: pink;
}



img {
    height: 15px;
    width: 15px;
}


body {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: 500;
    padding: 10px;
}
